.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
input{
    margin:20px;
    width:50vw;
    background-color: white;
    color:black;
    padding: 10px;
    border-radius:10px;
}
button{
    display:flex;
    margin-left:1rem;
}