.Card-container{
    background:rgb(159, 169, 248);
    padding:0.5rem 4rem;
    border-radius: 16px;  
    box-shadow: 4px 4px 12px rgba(0,0,0,0.3);
    margin:1rem;
    gap: 20px;        
    width:300px;
    
    /* border: 2px solid red; */
}
.Card-link {
    display: block;
    text-decoration: none;
    color: inherit;
  }
  
.Card-container h1,h2,p{
    font-size: 1em;
    color: black;
    margin-bottom: 2px;
    white-space: nowrap;  
    overflow: hidden;     
    text-overflow: ellipsis;
}

.Card-container img{
    max-width: 100%;  
    min-width:300px;
    min-height:200px;
    max-height: 200px; 
    object-fit: cover;
}
.button-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}